/***************    LOGIN  ***************/

.log-form {
  height: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

.log-form-signup {
  height: 800px;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

.log-form-forgot {
  height: 450px;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

.form-login {
  padding: 40px;
  margin: 2rem 0 2rem 0;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-login {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-login:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.input-container {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.forgotten-password {
  font-size: 14px;
  padding-left: 6rem;
}

#login-btn {
  align-self: center;
  padding: 7px 30px;
  margin-top: 30px;
  border: none;
  color: $black;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 2px #f9f9f9;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}

#login-btn:hover {
  background-color: #f9f9f9;
  box-shadow: none;
  transform: translateX(1px) translateY(1px);
}

.signup-label {
  display: flex;
  position: relative;
  bottom: -10px;
  font-size: 14px;
  padding-bottom: 2rem;
}

@media screen and (max-width: 750px) {
  .log-form {
    height: 580px;
    padding-top: 4rem;
  }
}
