/***************    LOGIN  ***************/

.log-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;

  .card {
    background: #fff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-bottom: 6rem;
    padding: 2rem;
    position: relative;
    min-width: 350px;
    width: 350px;
    overflow: hidden;
  }

  .card-log {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .card-log:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

i {
  padding-left: 1rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

h2 {
  margin: 2rem;
  font-family: $font-1;
  letter-spacing: 0.1rem;
  font-size: 1.9rem;
}

.button-log {
  display: flex;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.forgot,
.update {
  display: flex;
  margin: 2rem 0 1rem 0;
}

.signup,
.logout,
.acount {
  display: flex;
  margin: 1rem 0 1rem 0;
}

/***************    PROFILE  ***************/

.profile {
  padding-top: 2rem;
  .profile-info {
    position: relative;
    left: 10rem;
  }
}

/***************    SIGN UP  ***************/
